---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="bn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>IRD বাজেট ব্যবস্থাপনা</title>
    <!-- Preload font to prevent flickering -->
    <link rel="preload" href="/fonts/kalpurush.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
  </head>
  <body>
    <slot />
  </body>
</html>
